<!DOCTYPE html>
<html lang="en" >

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93709601-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-93709601-3');
  </script>

  <meta charset="UTF-8">
  <title>Share New Ideas</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
  <div class="top_menu_bar">
 <a href="javascript:window.history.back()"><i class="fas fa-chevron-circle-left fa-lg leftmost" style="color: white;"></i></a>
    <h1 style="font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-weight: 100;">Share an Idea</h1>
  </div>
 

  <!-- as input version -->

  <!-- contributor's name, by default is the user himself. -->
  <!-- <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">From: </span>
    </div>
    <input type="text" class="form-control" placeholder="Contributor's name" aria-label="Contributor's name" aria-describedby="basic-addon1">
  </div> -->

  <!-- <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon2">@ </span>
    </div>
    <input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon2">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Description</span>
    </div>
    <textarea class="form-control" aria-label="Description"></textarea>
  </div>

  <div class="input-group-prepend">
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Sharing to...</option>
    <option value="1">Contribute to community</option>
    <option value="2">Keep it private, add to my "to try" list</option>
    <option value="3">Keep it private, add to my "tried" list</option>
  </select> -->


<div class="form-style-5">
    <!-- as form version -->
    <form role="form" method="get" action="/add">
      <!-- <div class="form-group">
        <label for="provider">Provider</label>
        <input type="text" class="form-control"  placeholder="Your Name ~" name="provider">
      </div> -->
      <div class="form-group">
        <br />
        <label for="title"><span class="number">1</span>Title</label>
        <input type="text" class="form-control capitalize"  placeholder="What is your idea?" name="title">
      </div>
      <div class="form-group">
        <label for="description"><span class="number">2</span>Description</label>
        <textarea class="form-control" rows="3" placeholder="Describe your idea briefly !" name="description"></textarea>
      </div>
      <div class="form-group">
        <label for="category"><span class="number">3</span>Select a category...</label>
        <select class="form-control" name="category" >
          <option value="adventurous">adventurous</option>
          <option value="stress-relieving">stress-relieving</option>
          <option value="charitable">charitable</option>
          <option value="relaxing">relaxing</option>
          <option value="productive">productive</option>
        </select>
      </div>
      <div class="form-group">
        <label for="time"><span class="number">4</span>How long will it take?</label>
        <select class="form-control" name="time" >
          <option value="minutes">minutes</option>
          <option value="hours">hours</option>
          <option value="days">days</option>
          <!-- <option value="months">months</option>
          <option value="years">years</option> -->
        </select>
      </div>
      <div class="form-group">
        <label for="cost"><span class="number">5</span>How much will it cost?</label>
        <select class="form-control" name="cost" >
          <option value="$0">$0</option>
          <option value="$">$</option>
          <option value="$$">$$</option>
          <option value="$$$">$$$</option>
          <!-- <option value="$$$$">$$$$</option> -->
        </select>
      </div>
      <!-- <div class="form-group">
        <label for="add_to">Add to...</label>
        <select class="form-control" name="add_to" >
          <option value="1">Community</option>
          <option value="2">Private list</option>
        </select>
      </div> -->
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0" style="font-size: 1em;"><span class="number" style="font-size: 0.8em;">6</span>Add to...</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="add_to" id="gridRadios1" value="0" checked>
              <label class="form-check-label" for="gridRadios1">
                Community
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="add_to" id="gridRadios2" value="1">
              <label class="form-check-label" for="gridRadios2">
                My list
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- <div class="form-group">
        <label for="user_tried">Have you tried it before?</label>
        <select class="form-control" name="user_tried" >
          <option value="1">Yep!</option>
          <option value="2">Nope...</option>
        </select>
      </div> -->
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0" style="font-size: 1em;"><span class="number" style="font-size: 0.8em;">7</span>Have you tried it before?</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="user_tried" id="gridRadios1" value="true">
              <label class="form-check-label" for="gridRadios1">
                Yep!
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="user_tried" id="gridRadios2" value="false" checked>
              <label class="form-check-label" for="gridRadios2">
                Nope...
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div style="text-align: center;">
      <button type="submit" class="btn btn-primary">Share</button>
      </div>
    </form>



</div>

   <style type="text/css">
      <style type="text/css">
  
  .form-style-5{
      max-width: 500px;
      padding: 10px 20px;
      background: #428bca;
      margin: 10px auto;
      padding: 20px;
      background: #428bca;
      border-radius: 8px;
      font-family: Georgia, "Times New Roman", Times, serif;
  }
  .form-style-5 fieldset{
      border: none;
  }
  .form-style-5 legend {
      font-size: 1.4em;
      margin-bottom: 10px;
  }
  .form-style-5 label {
      display: block;
      margin-bottom: 8px;
  }
  .form-style-5 input[type="text"],
  .form-style-5 input[type="date"],
  .form-style-5 input[type="datetime"],
  .form-style-5 input[type="email"],
  .form-style-5 input[type="number"],
  .form-style-5 input[type="search"],
  .form-style-5 input[type="time"],
  .form-style-5 input[type="url"],
  .form-style-5 textarea,
  .form-style-5 select {
      font-family: Georgia, "Times New Roman", Times, serif;
      background: rgba(255,255,255,.1);
      border: none;
      border-radius: 4px;
      font-size: 16px;
      margin: 0;
      outline: 0;
      padding: 7px;
      width: 100%;
      box-sizing: border-box; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box; 
      background-color: #e8eeef;
      color:#8a97a0;
      -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
      box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
      margin-bottom: 30px;
      
  }
  .form-style-5 input[type="text"]:focus,
  .form-style-5 input[type="date"]:focus,
  .form-style-5 input[type="datetime"]:focus,
  .form-style-5 input[type="email"]:focus,
  .form-style-5 input[type="number"]:focus,
  .form-style-5 input[type="search"]:focus,
  .form-style-5 input[type="time"]:focus,
  .form-style-5 input[type="url"]:focus,
  .form-style-5 textarea:focus,
  .form-style-5 select:focus{
      background: #d2d9dd;
  }
  .form-style-5 select{
      -webkit-appearance: menulist-button;
      height:35px;
  }
  .form-style-5 .number {
      background: #428bca;
      color: #fff;
      height: 30px;
      width: 30px;
      display: inline-block;
      font-size: 0.8em;
      margin-right: 4px;
      line-height: 30px;
      text-align: center;
      text-shadow: 0 1px 0 rgba(255,255,255,0.2);
      border-radius: 15px 15px 15px 0px;
  }

  .form-style-5 input[type="submit"],
  .form-style-5 input[type="button"]
  {
      position: relative;
      display: block;
      padding: 19px 39px 18px 39px;
      color: #FFF;
      margin: 0 auto;
      background: #1abc9c;
      font-size: 18px;
      text-align: center;
      font-style: normal;
      width: 100%;
      border: 1px solid #16a085;
      border-width: 1px 1px 3px;
      margin-bottom: 10px;
  }
  .form-style-5 input[type="submit"]:hover,
  .form-style-5 input[type="button"]:hover
  {
      background: #109177;
  }
  </style>
    </style>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- <script src="/js/explore.js"></script> -->
  <!-- <script src="/js/idea.js"></script>
  <script src="/js/user.js"></script> -->

</body>
</html>

