<!doctype html>
<head>
	<title>Surprise Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- this is a comment in HTML -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/surprise.css">
</head>
<body>

<div class="container-fluid">
		<header><h1>Surprise Me</h1></header>
		
		<h3>I want to try something...</h3>
		<div class="steps">
			  <ul id="sortable">
			    <li>
			      <input id='label-1' type='checkbox'/>
			      <label for='label-1'>
			        <h5>Advanturous</h5>   
			      </label>
			    </li>
			    
			    <li>
			      <input id='label-2' type='checkbox' checked/>
			      <label for='label-2'>
			        <h5>Stress-relieving</h5>   
			      </label>
			    </li>
			    
				  <li>
			      <input id='label-3' type='checkbox'/>
			      <label for='label-3'>
			        <h5>Charitable</h5>   
			      </label>
			    </li>
			    
				  <li>
			    <input id='label-4' type='checkbox'/>
			     <label for='label-4'>
			        <h5>Relaxing</h5>   
			      </label>
			    </li>
			    
				  <li>
			     <input id='label-5' type='checkbox'/>
			     <label for='label-5'>
			        <h5>Productive</h5>   
			      </label>
			    </li>
			    
			  </ul>
		</div>
		<div class="wrapper">
  			<a href="/surprise_list" class="button">Surprise!</a>
		</div>

		<!-- bottom bar -->
		<div class="icon-bar fixed-bottom">
		{{#each bottom-bar}}
		
			<a href="/{{name}}" ><i class="{{class}}"></i>
				<!-- <p>{{name}}</p> -->
			</a>
		
		{{/each}}

		<footer></footer>
		</div>

		
		
	</div>

	
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
