<!doctype html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93709601-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-93709601-3');
  </script> -->
  
	<title>Surprise Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- this is a comment in HTML -->
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/surprise.css"> -->
</head>
<body>

<div class="container-fluid ">
		<div class="top_menu_bar">
		<a href="javascript:window.history.back()"><i class="fas fa-chevron-circle-left fa-lg leftmost" style="color: white;"></i></a>
			<h2 style="font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-weight: 100;">Surprise Me</h2>
  		</div>

  		<div>
  		<div class="tab-content container" data-spy="scroll">
  			<form role="form" method="get" action="/surprise_list">
  				<fieldset class="form-group">
  					<div class="card-columns">
  						<div class="row">
  							<div class="col-sm-10">
  								<div class="card">
  									<div class="card-footer">
  										<legend class="col-form-label col-sm-2 pt-0" style="text-align: center; font-size: 1em">You want to try something...</legend>
  									</div>
  									<div class="card-body" style="text-align: center;">
  										<div class="form-check">
									          <input class="form-check-input" type="radio" name="feeling" id="relaxing" value="relaxing" style="left: 20%;">
									          <label class="form-check-label" for="relaxing">
									           <img class="card-img-top img-fluid" style="width:2em;"  src="/img/relaxing.png" alt="Card image cap"> relaxing
									          </label>
									    </div>
									    <div class="form-check">
									          <input class="form-check-input" type="radio" name="feeling" id="charitable" value="charitable" style="left: 20%;">
									          <label class="form-check-label" for="charitable">
									           <img class="card-img-top img-fluid" style="width:2em;"  src="/img/charitable.png" alt="Card image cap"> charitable
									          </label>
									    </div>
									    <div class="form-check">
									          <input class="form-check-input" type="radio" name="feeling" id="productive" value="productive" style="left: 20%;">
									          <label class="form-check-label" for="productive">
									           <img class="card-img-top img-fluid" style="width:2em;"  src="/img/productive.png" alt="Card image cap"> productive
									          </label>
									    </div>
  										<div class="form-check">
									          <input class="form-check-input" type="radio" name="feeling" id="adventurous" value="adventurous" style="left: 20%;">
									          <label class="form-check-label" for="adventurous">
									           <img class="card-img-top img-fluid" style="width:2em;"  src="/img/adventurous.png" alt="Card image cap"> adventurous
									          </label>
									    </div>
									    <div class="form-check">
									          <input class="form-check-input" type="radio" name="feeling" id="stress-relieving" value="stress-relieving" checked style="left: 20%;">
									          <label class="form-check-label" for="stress-relieving">
									           <img class="card-img-top img-fluid" style="width:2em;"  src="/img/stress-relieving.png" alt="Card image cap"> stress-relieving
									          </label>
									    </div>
  									</div>
  								</div>
  							</div>
  						</div>
  						<div class="row">
  							<div class="col-sm-10">
  								<div class="card">
  									<div class="card-footer">
  										<legend class="col-form-label col-sm-2 pt-0" style="text-align: center; font-size: 1em">How much time do you have?</legend>
  									</div>
  									<div class="card-body" style="text-align: center;">
  										<div class="form-check">
									          <input class="form-check-input" type="radio" name="time" id="days" value="days" checked style="left: 20%">
									          <label class="form-check-label" for="days">
									            days
									          </label>
									    </div>
  										<div class="form-check">
									          <input class="form-check-input" type="radio" name="time" id="hours" value="hours" checked style="left: 20%">
									          <label class="form-check-label" for="hours">
									            hours
									          </label>
									    </div>
  										<div class="form-check">
									          <input class="form-check-input" type="radio" name="time" id="minutes" value="minutes" checked style="left: 20%">
									          <label class="form-check-label" for="minutes">
									            minutes
									          </label>
									    </div>
  									</div>
  								</div>
  							</div>
  						</div>
  						<div class="row">
  							<div class="col-sm-10">
  								<div class="card">
  									<div class="card-footer">
  										<legend class="col-form-label col-sm-2 pt-0" style="text-align: center; font-size: 1em">How much you want to spend?</legend>
  									</div>
  									<div class="card-body" >
  										<div class="form-check" style="text-align: center;" >
									          <input class="form-check-input" type="radio" name="cost" id="$0" value="$0" style="left: 20%">
									          <label class="form-check-label" for="$0">
									            $0
									          </label>
									    </div>
  										<div class="form-check" style="text-align: center;" >
									          <input class="form-check-input" type="radio" name="cost" id="$" value="$" style="left: 20%">
									          <label class="form-check-label" for="$">
									            $
									          </label>
									    </div>
									    <div class="form-check" style="text-align: center;" >
									          <input class="form-check-input" type="radio" name="cost" id="$$" value="$$" style="left: 20%">
									          <label class="form-check-label" for="$$">
									            $$
									          </label>
									    </div>
									    <div class="form-check" style="text-align: center;" >
									          <input class="form-check-input" type="radio" name="cost" id="$$$" value="$$$" checked style="left: 20%">
									          <label class="form-check-label" for="$$$">
									            $$$
									          </label>
									    </div>
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</fieldset>
  				<div style="text-align: center;">
  				 <button type="submit" class="btn btn-primary wrapper">Surprise Me !</button>
  				</div>
  			</form>
  		</div>

  		
       


	    <!-- previous version for suprise -->
		<!-- <h4>You want to try something...</h4>
				<div class="steps">
					  <ul id="sortable">
					    <li>
					      <input id='label-1' type='checkbox'/>
					      <label for='label-1'>
					        <h5>Advanturous</h5>   
					      </label>
					    </li>
					    
					    <li>
					      <input id='label-2' type='checkbox' checked/>
					      <label for='label-2'>
					        <h5>Stress-relieving</h5>   
					      </label>
					    </li>
					    
						  <li>
					      <input id='label-3' type='checkbox'/>
					      <label for='label-3'>
					        <h5>Charitable</h5>   
					      </label>
					    </li>
					    
						  <li>
					    <input id='label-4' type='checkbox'/>
					     <label for='label-4'>
					        <h5>Relaxing</h5>   
					      </label>
					    </li>
					    
						  <li>
					     <input id='label-5' type='checkbox'/>
					     <label for='label-5'>
					        <h5>Productive</h5>   
					      </label>
					    </li>
					    
					  </ul>
				</div>
		
		<br />
		<br />
		<br />

        <div>
        	<h4>How much time do you have?</h4>
			<input type="text" id="duration" name="duration">
			<input id="btn" type="button" value="Submit">
	        <br>
	        <input id="result" type="text">
		</div>
        <br />
		<div>
			<h4>How much do you want to spend?</h4>
            <div class="btn-group">
              <button>free</button>
			  <button>$</button>
			  <button>$$</button>
			  <button>$$</button>
			</div>
		</div>
		<div class="wrapper">
  			<a href="/surprise_list" class="button">Surprise!</a>
		</div> -->


		<!-- bottom bar -->
		<div class="icon-bar fixed-bottom">
		{{#each bottom-bar}}
		
			<a href="/{{name}}" ><i class="{{class}}"></i>
				<!-- <p>{{name}}</p> -->
			</a>
		
		{{/each}}

		<footer></footer>
		</div>

		
		
	</div>

	<style type="text/css">

		.card-columns .card {
		    margin-top: 1rem;
		}

		input[type="radio"] {
		  appearance: none;
		  margin: 0 0px;
		  width: 1.0em;
		  height: 1.0em;
		  background: #eee;
		  box-shadow: inset 0 0 0 0.2em white, 0 0 0 0.2em;
		  border-radius: 50%;
		  transition: 0.2s;
		  cursor: pointer;
		  color: #428bca;
		  left: -5%;
		  top: 30%;
		}
		input[type="radio"]:hover, input[type="radio"]:checked {
		  background: #428bca;
		  box-shadow: inset 0 0 0 0.6em white, 0 0 0 0.3em;
		}
		input[type="radio"]:checked {
		  background: #000;
		  box-shadow: inset 0 0 0 0.2em white, 0 0 0 0.2em #000;
		}
		input[type="radio"]:focus {
		  outline: 0;
		}

		</style>

	
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src = /js/surprise.js></script>
	<!-- <script src = /js/explore.js></script> -->
</body>
</html>
