div.container {
    width: 100%;
    border: 1px solid gray;
    padding-bottom: 7em;
}

header, footer {
    padding: 0.5em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.top_menu_bar {
    padding: 0.5em;
    color: white;
    /*background-color: #e3f2fd;*/
    background-color: black; 
    clear: left;
    text-align: center;
    position: relative;
}

body {
  margin:0;
  position:relative;
}

.top_menu_bar .top_right_button {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
}

.checked {
  text-decoration: line-through;
  color:red;
}

.fixed-bottom {
  left:auto!important;
  right:auto!important;
  width: calc(100% - 30px);
}

.icon-bar {
    width: calc(100% - 30px);
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 0.5em 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 2em;
}

.icon-bar a:hover {
    background-color: #000;
}

section.card{
      width: 100%;
      float: left;
      height: 20em;
      padding: 4em;
      box-sizing: border-box;
      transition: 0.3s;
      width: 100%;
      position: relative;
}

.title{
      font-size: 2em;
      line-height: 1em;
      text-align: center;
      overflow: auto;
      color:#000000;
}
section.card:hover {
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
}


.bottom-left{
  font-size: 1em;
  white-space: nowrap;
  bottom:0;
  position: absolute;
  left:2em;
}
.bottom-right{
  font-size: 1em;
  white-space: nowrap;
  bottom:0;
  position: absolute;
  right:2em;
}

.grid-container {
  display: grid;
  justify-content:space-evenly;
  grid-template-columns: 50% 50%;/*Make the grid smaller than the container*/
  grid-gap: 1em;
  background-color: #FFFFFF;
  padding: 1em;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 1em 0;
  font-size: 0.5em;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial;
}



.btn-group button {
    background-color: #000000;
    border: 1px solid black;
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #ffffff;
    color:black;
}
.btn-group button:focus{
  background-color: #777777;
  color:black;
}

.btn-group button:visited{
  background-color: #777777;
  color:black;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #000000;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;}

form.example button:hover {
    background: #777777;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
  